body
{
    background-image: url("./bg.png");
}
h1
{
    color: orange;
    text-align: left;
    font-size: 50px;
}
li
{
    color: orange;
    padding-top: 20px;
}
.lanPref
{
    color: orange;
    text-align:center;
    margin-top: 390px;
    position: fixed;
    font-size: 45px;
    animation-name: move;
    animation-duration: 11s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.18, 0.69, 1, 1.01);
}
@keyframes move
{
    0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(100%);
      }
}
.hi
{
    margin-left: 650px;
    transform: translateY(-300px);
}
.git
{
    transform: translateX(-85px) translateY(-160px);
}
.real
{
    width: 300px;
    transform: translateX(210px) translateY(-100px);
}